<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Admin Home Page">
	<meta name="author" content="Kardigué Magassa">
	<title th:text="${pageTitle} ?: 'Default Title'">Admin Home Page</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">

</head>
<body>

<header>
	<div class="logo">
		<div class="logo-main">Poseidon</div>
		<div class="logo-sub">Capital Solutions</div>
	</div>
	<div class="auth-links">
		<a href="/bidList/list">Bid List</a>
		<a href="/curvePoint/list">Curve Points</a>
		<a href="/rating/list">Ratings</a>
		<a href="/trade/list">Trade</a>
		<a href="/ruleName/list">Rule</a>
		<!--	recuperation dynamic de user connecter					        Logged in user: <b th:text="${#httpServletRequest.remoteUser}"></b>-->
		<form action="#" th:action="@{/logout}" method="POST">
			<input class="logout" type="submit" th:value="Logout" />
		</form>
	</div>
</header>

<main class="container">
<!--	<div class="row">-->
<!--		<div class="col-6">-->
<!--			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;-->
<!--			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;-->
<!--			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;-->
<!--			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;-->
<!--			<a href="/ruleName/list">Rule</a>-->
<!--		</div>-->
<!--		<div class="col-6 text-right">-->
<!--			Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>-->
<!--			<form th:action="@{/app-logout}" method="POST">-->
<!--				<input type="submit" value="Logout"/>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
	<div class="row"><h2>Rating List</h2></div>

	<div class="row">
		<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>MoodysRating</th>
					<th>SandPRating</th>
					<th>FitchRating</th>
					<th>Order</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rating : ${ratings}">
					<td style="width: 10%" th:text="${rating.id}"></td>
					<td th:text="${rating.moodysRating}"></td>
					<td th:text="${rating.sandPRating}"></td>
					<td th:text="${rating.fitchRating}"></td>
					<td th:text="${rating.order}"></td>

					<td style="width: 15%" class="text-center">
						<div class="action-buttons">
							<a th:href="@{/rating/update/{id}(id=${rating.id})}" class="edit-btn">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/rating/delete/{id}(id=${rating.id})}" class="delete-btn">Delete</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>

<footer class="text-center mt-5">
	<p>© 2025 Poseidon Capital Solutions created by Kardigué. All rights reserved.</p>
</footer>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

</body>
</html>