<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="pdate User">
    <meta name="author" content="Kardigué Magassa">
    <title>Add User</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">

</head>
<body>

<header>
    <div class="logo">
        <div class="logo-main">Poseidon</div>
        <div class="logo-sub">Capital Solutions</div>
    </div>
    <div class="auth-links"></div>
</header>

<div class="container">
    <h2>Add New User</h2>

    <form action="#" th:action="@{/user/validate}" th:object="${user}" method="post" class="form-horizontal"
          style="width: 100%">

        <div class="form-group">
            <label for="fullname" class="col-sm-2 control-label">Full Name</label>
            <input type="text" th:field="*{fullname}" id="fullname" placeholder="Full Name" required>
            <p class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
        </div>

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">User Name</label>
            <input type="text" th:field="*{username}" id="username" placeholder="User Name" required>
            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <div class="form-group role-group">
            <label for="password" class="control-label">Role</label>
            <div class="role-options">
                <label class="radio-option">
                    <input type="radio" th:field="*{role}" th:value="ADMIN" required> Admin
                </label>
                <label class="radio-option">
                    <input type="radio" th:field="*{role}" th:value="USER" required> User
                </label>
            </div>
        </div>


        <div class="form-group-cancel-update">
            <a class="btnCancel " href="/user/list">Cancel</a>
            <input class="btnUpdate" type="submit" value="Add user">
        </div>

    </form>
</div>

<footer>
    <p>© 2025 Poseidon Capital Solutions created by Kardigué. All rights reserved.</p>
</footer>

</body>
</html>