<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Admin Home Page">
	<meta name="author" content="Kardigué Magassa">
	<title th:text="${pageTitle} ?: 'Default Title'">Admin Home Page</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/bidList/list.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">

</head>
<body>

<header>
	<div class="logo">
		<div class="logo-main">Poseidon</div>
		<div class="logo-sub">Capital Solutions</div>
	</div>
	<div class="auth-links">
		<a href="/bidList/list">Bid List</a>
		<a href="/curvePoint/list">Curve Points</a>
		<a href="/rating/list">Ratings</a>
		<a href="/trade/list">Trade</a>
		<a href="/ruleName/list">Rule</a>
		<!--	recuperation dynamic de user connecter					        Logged in user: <b th:text="${#httpServletRequest.remoteUser}"></b>-->
		<form action="#" th:action="@{/logout}" method="POST">
			<input class="logout" type="submit" th:value="Logout" />
		</form>
	</div>
</header>

<main class="container">

	<div class="row"><h2>Rule List</h2></div>

	<div class="row">

		<a href="/ruleName/add" class="btn btn-primary btn-sm">Add New</a>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>json</th>
					<th>template</th>
					<th>sql</th>
					<th>sqlPart</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ruleName : ${ruleNames}">
					<td style="width: 10%" th:text="${ruleName.id}"></td>
					<td th:text="${ruleName.name}"></td>
					<td th:text="${ruleName.description}"></td>
					<td th:text="${ruleName.json}"></td>
					<td th:text="${ruleName.template}"></td>
					<td th:text="${ruleName.sql}"></td>
					<td th:text="${ruleName.sqlPart}"></td>

					<td style="width: 15%" class="text-center">
						<div class="action-buttons">
							<a th:href="@{/ruleName/update/{id}(id=${ruleName.id})}" class="edit-btn">Edit</a>
							<a th:href="@{/ruleName/delete/{id}(id=${ruleName.id})}" class="delete-btn">Delete</a>
						</div>
					</td>

				</tr>
			</tbody>
		</table>

	</div>
</main>

<footer class="text-center mt-5">
	<p>© 2025 Poseidon Capital Solutions created by Kardigué. All rights reserved.</p>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

</body>
</html>