<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Update Trade">
	<meta name="author" content="Kardigué Magassa">
	<title>Update Trade</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">

</head>
<body>

<header>
	<div class="logo">
		<div class="logo-main">Poseidon</div>
		<div class="logo-sub">Capital Solutions</div>
	</div>
	<div class="auth-links">
	</div>
</header>

<div class="container">

	<h2>Update Trade</h2>

	<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">

		<div class="form-group">
			<label for="account" class="col-sm-2 control-label">Account</label>
			<input type="text" th:field="*{account}" id="account" placeholder="Account">
			<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
		</div>

		<div class="form-group">
			<label for="type" class="col-sm-2 control-label">Type</label>
			<input type="text" th:field="*{type}" id="type" placeholder="Type">
			<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
		</div>

		<div class="form-group">
			<label for="buyQuantity" class="col-sm-2 control-label">Buy Quantity</label>
			<input type="number" th:field="*{buyQuantity}" id="buyQuantity" placeholder="Buy Quantity">
			<p class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></p>
		</div>


		<div class="form-group-cancel-update">
			<input type="hidden" th:field="*{tradeId}">
			<a class="btnCancel" href="/trade/list">Cancel</a>
			<input class="btnUpdate" type="submit" value="Update Trade">
		</div>

	</form>
</div>

<footer>
	<p>© 2025 Poseidon Capital Solutions created by Kardigué. All rights reserved.</p>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

</body>
</html>